# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# VS Code
.vscode/

# Chroma Vector Database
data/chroma/

# Generated embeddings (optional)
data/embeddings/

# Environment Variables
.env

# macOS
.DS_Store

